.hide{
    display:none;
}

#motherDiv{
    margin-top: -32px;
    margin-left: 0px;
}

#middleDiv{
    display:flex;
    min-height:70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footerDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuItem{
    margin: 5px;
    border-bottom: 2px solid yellow;
}

.menuItem:hover{
    border-bottom: 2px solid rgb(187, 187, 104);
    cursor: pointer;
}

/* container divs */
.top-bar-container{
    display:flex;
    justify-content: space-around;
    width:98vw;
    min-height: 100px;
    top: 0;
    position: sticky;
    opacity:0.5;
}

.text-container-rounded{
    border-radius: 20px;
    margin:5px;
    padding:5px;
}

.msg-container-rounded{
    display:flex;
    justify-content: space-between;
    border-radius: 20px;
    margin:5px;
    padding:5px;
}

.activeC{
    width:50vw;
}

.footer-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:98vw;
    min-height:100px;
}

/*default elements*/

h1{
    font-size: 50px;
}

.half-div-container{
	display:flex;
	justify-content:space-around;
	flex-direction:row;
}

.half-div{
	display:flex;
	flex-direction:column;
	width:45vw;
}

/*fonts*/
.SS{font-family: sans-serif;}
.EL{font-family: elephant;}

/*background colors*/
.bg-orange{background-color: orange;}
.bg-green{background-color: green;}
.bg-blue{background-color: blue;}
.bg-gray{background-color: gray;}
.bg-aqua{background-color: aqua;}
.bg-gold{background-color: gold;}
.bg-yellow{background-color: yellow;}
.bg-white{background-color: white;}
.bg-skyblue{background-color: skyblue;}
.bg-purple{background-color: purple;}
.bg-violet{background-color: violet;}
.bg-wheat{background-color: wheat;}
.bg-layer1{background-color: antiquewhite;}
.bg-layer2{background-color: aliceblue;}

/*foreground colors*/
.fg-orange{color: orange;}
.fg-green{color: green;}
.fg-blue{color: blue;}
.fg-gray{color: gray;}
.fg-aqua{color: aqua;}
.fg-gold{color: gold;}
.fg-yellow{color: yellow;}
.fg-white{color: white;}
.fg-skyblue{color: skyblue;}
.fg-purple{color: purple;}
.fg-violet{color: violet;}
.fg-wheat{color: wheat;}

/*buttons*/
.xBtn{
    border:0px;
    background-color: red;
    color:white;
    width:30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.xBtn:hover{
    border:0px;
    background-color: rgb(247, 73, 73);
    color:white;
    cursor: pointer;
}

.common-btn{
    width:50%;
    border:0px;
    border-radius:5px;
    background-color:rgb(141, 141, 141);
    color:white;
    font-size: large;
    font-family: sans-serif;
    padding: 5px;
}

.common-btn:hover{
    background-color: rgb(163, 163, 163);
    cursor: pointer;
}

.rounded{border-radius: 20px;}

.pad-mar{
    padding:3px;
    margin:3px;
}

.title{
    font-size: larger;
}

@media screen and (max-width:600px){
    .activeC{
        width:90vw;
    }
	.half-div-container{
		display:flex;
		justify-content:center;
		flex-direction:column;
	}
	.half-div{
		display:flex;
		width:90vw;
	}
    .footer-container{
        display:flex;
        justify-content: space-around;
        align-items: center;
        width:95vw;
        min-height:100px;
    }
    .top-bar-container{
        display:flex;
        justify-content: space-around;
        width:95vw;
        min-height: 100px;
        top: 0;
        position: sticky;
        opacity:0.5;
    }
    .common-btn{
        width:100%;
    }
}

.no-underline{text-decoration: none;}

.flex{display:flex;}
.flex-column{flex-direction: column;}
.flex-center{display:flex;align-items: center;justify-content: center;}
.center{display:flex;align-items: center;justify-content: center;}
.pad-bottom-5{padding-bottom:5px;}
.pad-bottom-10{padding-bottom:10px;}
.pad-10{padding:10px;}

.fs-40{font-size:40px;}
.fs-20{font-size:20px;}

.inputText{
    width:100%;
    outline: none;
    border:2px solid goldenrod;
    height: 30px;
    font-size: medium;
    border-radius: 5px;
    background-color: beige;
    color:blue;
}

.rounded-img{
    width:100px;
    height:100px;
    border-radius:10px;
}

.icon{width:30px;height:30px;}

.entryBox{
    width:90%;
    margin:10px;
}

.flip-vert{font-size:30px;transform: rotate(180deg);}
.flip-0{font-size:30px;transform: rotate(180deg);}

#biography-box-container{
    width:98%;
}

.rich-editor{
    width: 100%;
    padding:5px;
    min-height: 300px;
    outline:none;
}