    .menuBar{
        background-color:cadeblue;
        padding:5px;
        border:0px;
        border-radius: 10px;
        text-align: right;
    }

    .mainDiv{
        background-color:aqua;    
    }
    
    .logInButtons{
        background: blue;
        color: white;
        border: 0px;
        border-radius: 25px;
        padding:5px;
    }
    
    .OrangeButtons{
        background: orange;
        color: white;
        border: 0px;
        border-radius: 25px;
        padding:5px;
    }
	
	.RedButtons{
        background: Red;
        color: white;
        border: 0px;
        border-radius: 25px;
        padding:5px;
    }
    
    .bluetext{
        background-color: blue;
        color:white;
    }
    
    .hide{
        display:none;
    }

    .loginBox{
        display:block;
        background-color: orange;
        border-radius: 5px;
        margin-left: 500px;
        margin-right: 500px;
        text-align: center;
        
    }
    
    .signupBox{
        display:block;
        background-color: orange;
        border-radius: 5px;
        margin-left: 500px;
        margin-right: 500px;
        text-align: center;
    }
	
	.blueinputbox{
	 background-color:aqua;
	 color:blue;
	 border:2px solid red;
	 border-radius:5px;
	}
	
	.videoTitle{
	 background-color:gray;
	 color:white;
	 border:3px solid blue;
	 border-radius:20px;
	}
	
	.videoDiv{
	 display:block;
	 background-color: aqua;
	 margin-left:0px;
	 margin-right:1000px;
	}
	
	.none{
	 background-color:aqua;
	 color:aqua;
	 border:0px;
	}
	
	.titleofhomebar{
	 background-color:aqua;
	 color:black;
	 border:0px;
	 font-size:20px;
	}
	
	.logoathomebar{
	 width:50px;
	}
	
	.x{
	 background-color:red;
	 color:white;
	 border:0px;
	 border-radius:25px;
	}
    
    .cbtn{
        background: purple;
        color: white;
        border: 0px;
        border-radius: 25px;
        padding:5px;
    }

    .listbutton{
        background: purple;
        color: white;
        border: 0px;
        border-radius: 25px;
        padding:5px;
    }

    .defbox{
        display:block;
        background-color:white;
        border: 1px solid rgb(30, 255, 0);
        border-radius: 10px;
        margin-left: 200px;
        margin-right: 200px;
    }

    .upperbar{
        background-color:rgb(156, 156, 228);
        border-radius: 10px;
        color:white;
        text-align: right;
    }

    .footer{
        background-color:bisque;
        padding:5px;
        border:0px;
        border-radius: 10px;
        text-align: right;        
    }

    .mySlides {
        display:none;
    }

.dropbtn {
  background-color: purple;
  color: white;
  border: 0px;
  border-radius: 25px;
  padding:5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #081338;}
