.body{
	background-color:#130030;
}

.menuBar{
	background-color:#4B3C34;
	display:flex;
	justify-content:space-between;
	padding:5px;
	border:0px;
	text-align: right;
	position:sticky;
	top:0;
	opacity:0.9;
	box-shadow: 5px 10px 18px #888888;
}

#logDiv{
	position:absolute;
	top:0;
	display:none;
	justify-content:center;
	background-color:gray;
	width:100%;
	height:100%;
	opacity:0.9;
}

#loadingDiv{
	position:absolute;
	top:0;
	display:flex;
	justify-content:center;
	background-color:gray;
	width:100%;
	height:100%;
	opacity:0.9;
}


#form{
	margin-top:10%;
	display:flex;
	flex-direction:column;
	padding:10px;
	height:55%;
	background-color:#4B3C34;
}

.userInfo{
	display:flex;
	flex-direction:column;
	width:25%;
	height:500px;
	background-color:#4B3C34;
	color:white;
}

.row{
	display:flex;
	flex-direction:row;
}

#username{
	height:8%;
}

.ico{
	width:50px;
}

.link{
	color:orange;
}

.mainDiv{
	background-color:aqua;  
	display:flex;
	flex-direction:column;
	width:100%;
	justify-content:space-around;
}

#middleDiv{
	display:flex;
	flex-direction:column;
	background-color:#130030;
}

.projectDiv{
	display:flex;
	flex-direction:column;
	background-color:#353535;
	color:white;
	width:75%;
}

.logInButtons{
	background: blue;
	color: white;
	border: 0px;
	border-radius: 25px;
	padding:5px;
}

.OrangeButtons{
	background: orange;
	color: white;
	border: 0px;
	border-radius: 25px;
	padding:5px;
}

.RedButtons{
	background: Red;
	color: white;
	border: 0px;
	border-radius: 25px;
	padding:5px;
}

.bluetext{
	background-color: blue;
	color:white;
}

.hide{
	display:none;
}

.loginBox{
	display:block;
	background-color: orange;
	border-radius: 5px;
	margin-left: 500px;
	margin-right: 500px;
	text-align: center;
	
}

.signupBox{
	display:block;
	background-color: orange;
	border-radius: 5px;
	margin-left: 500px;
	margin-right: 500px;
	text-align: center;
}

.blueinputbox{
 background-color:aqua;
 color:blue;
 border:2px solid red;
 border-radius:5px;
}

.videoTitle{
 background-color:gray;
 color:white;
 border:3px solid blue;
 border-radius:20px;
}

.videoDiv{
 display:flex;
 width:100%;
 padding:5px;
 flex-direction:column;
 background-color: #574d48;
}

.video{
	display:flex;
	align-self:center;
	width:75%;
}

br{
	background-color:#5e5e5e;
}

hr{
	background-color:#5e5e5e;
	color:white;
}

.none{
 background-color:aqua;
 color:aqua;
 border:0px;
}

.titleofhomebar{
 color:white;
 border:0px;
 font-size:20px;
}

.logoathomebar{
 width:50px;
}

.x{
 background-color:red;
 color:white;
 border:0px;
 border-radius:25px;
}

.cbtn{
	background: purple;
	color: white;
	border: 0px;
	border-radius: 25px;
	padding:5px;
}

.listbutton{
	background: purple;
	color: white;
	border: 0px;
	border-radius: 25px;
	padding:5px;
}

.defbox{
	display:block;
	background-color:white;
	border: 1px solid rgb(30, 255, 0);
	border-radius: 10px;
	margin-left: 200px;
	margin-right: 200px;
}

.upperbar{
	background-color:rgb(156, 156, 228);
	border-radius: 10px;
	color:white;
	text-align: right;
}

.footer{
	display:flex;
	flex-direction:column;
	background-color:purple;
	padding:5px;
	border:0px;
	text-align: right;        
}

.mySlides {
	display:none;
}
.mySlides1 {
	display:none;
}
.mySlides2 {
	display:none;
}
.mySlides3 {
	display:none;
}

.dropbtn {
  background-color: purple;
  color: white;
  border: 0px;
  border-radius: 25px;
  padding:5px;
}

.dropbtn:before {
 content: ' \2630';
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #081338;}
.downloadbtn:before{
 content:' \21E9';
}

.downloadbtn{
 color:gray;
 background-color:gold;
 border:0px;
 border-radius:25px;
 font-family:elephant;
 font-size:20px;
}

.downloadbtn:hover{
 color:orange;
 background-color:blue;
 border:0px;
 border-radius:25px;
}

.books{
 background-color:skyblue;
 text-align:center;
 margin-left:350px;
 margin-right:350px;
 width:500px;
 height:400px;
 border-radius:25px;
}

.titleBooks{
 border-radius:25px;
 border:5px solid green;
 background-color:orange;
}

.logInbtn{
	background-color:orange;
	color:white;
	border:0px;
	border-radius:20px;
	padding:5px;
}
.backBtn{
	border:2px solid white;
	border-radius:20px;
	color:white;
	background-color:#4B3C34;
}
